:root {
    --black:#121416;
    --white-2:#F5F5F5;
    --white:#ffff;
    --grey:#6c757d;




        --font-family: "Europa-Bold", sans-serif;
        --second-family: "Europa-Regular", sans-serif;
        --third-family: "Roboto", sans-serif;
        --font3: "Segoe UI", sans-serif;
        --font4: "EuropaNuova-Regular", sans-serif;
        --font5: "Sansita", sans-serif;
        --font6: "EuropaNuova-Bold", sans-serif;
        --font7: "Poppins", sans-serif;




}